/* Lib */
@import '_variable.css';
@import '_font.css';
@import '_reset.css';

/* Module */
@import 'module/sidebar.css';
@import 'module/content.css';

.container {
    display: flex;
    min-height: 100vh;
}

.link {
    display: block;
    color: white;
    padding: .2rem .7rem;
    text-decoration: none;
    text-transform: capitalize;
}
.link.active {
    color: #aaa;
}
