.content {
    flex-grow: 10;
    background: #eee;
}

.section {
    margin: 2rem;
    background: white;
    box-shadow: var(--shadow);
}

.section-header {
    padding: 2rem;
    background: var(--th-blue);
    color: white;
}
.section-content {
    padding: 2rem;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td { 
    border: 1px solid #ccc;
}

th {
    padding: 1rem 1.2rem;
    background: var(--th-blue);
    color: white;
}

td {
    padding: .5rem 1rem;
}

.btn {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background: var(--th-blue);
    padding: .3rem .7rem;
    border: none;
    border-radius: 20px;
}

.btn-danger {
    background: var(--th-red);
}

.btn-warning {
    background: var(--th-yellow);
    color: black;
}